/* === UNIVERSAL STYLES === */

html {
    font-size: 18px;
}

/* === LOGO BAR STYLES === */

header {
    background-color: black;
}

header img {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

header h1 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}

.header-bar {
    display: flex;
    align-items: center;
    width: 960px; 
    margin: 0 auto;
}



nav {
    display: flex;
    width: 960px;
    
}




.featured-image {
    background-image: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
}

.featured-image-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 20rem;
    padding: 3rem;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 11rem;
}

.featured-image-header h2 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    
}

.featured-image-header h3 {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navigation {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: firebrick;
}

.container2 {
    width: 960px;
    margin: 0 auto;
    
}

nav a {
    font-family: Helvetica;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.categories {
    display: flex;
    justify-content: space-between;
}



.product-img img {
    height: 9rem;
    width: auto;
    padding: 3rem 1rem;
    margin: 0 auto;
    
}

.product-img2 img {
    height: 4rem;
    width: 8rem;
    margin: 0 auto;
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    
    
}

.products {
    display: flex;
    justify-content: space-between;
    align-: center;
    padding-top: 3rem;
    width: 960px;
    margin: 0 auto;
}





.product-img p {
    background-color: black;
    font-weight: bold;
    color: white;
    font-family: Helvetica;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    
}

.product-img2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
    width: 28%;
}

.product-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
    width: 28%;
}

.two img {
    height: 4rem;
    width: auto;
}



.product-img2 p {
    font-family: Helvetica;
    font-weight: bold;
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    
}

footer {
    height: 10rem;
    background-color: black;
}

footer p {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
    width: 960px;
    margin: 0 auto;
    padding-top: 5rem;
}

.location h4 {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.location {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
}



.locheader {
    width: 35.5%;
}

.hours {
    width: 35.5%;
}



.location p {
    padding-top: 0.5rem;
    
}
