/* === UNIVERSAL STYLES === */

html {
    font-size: 18px;
}

/* === LOGO BAR STYLES === */

header {
    background-color: black;
}

header img {
    height: 1.5rem;
    padding: 1rem 1rem 1rem 0.5rem;
}

header h1 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 0.66rem 0;
}

nav {
    display: flex;
    width: 960px;
}

.header-bar {
    display: flex;
    align-items: center;
    width: 960px; 
    margin: 0 auto;
}

/* ===FEATURED IMAGE STYLES=== */


.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 11rem;
}

.featured-image {
    background-image: url("../images/moto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
}

.featured-image-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 20rem;
    padding: 3rem;
}


.featured-image-header h2 {
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.featured-image-header h3 {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ===NAVIGATION STYLES=== */

nav a {
    font-family: Helvetica;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.container2 {
    width: 960px;
    margin: 0 auto;
}

.navigation {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: firebrick;
}

/* ===PRODUCT SECTION STYLES=== */

.product-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
    width: 28%;
}

.product-img img {
    height: 9rem;
    width: auto;
    padding: 3rem 1rem;
    margin: 0 auto;
}

.product-img p {
    background-color: black;
    font-weight: bold;
    color: white;
    font-family: Helvetica;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.product-img2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
    width: 28%;
}

.product-img2 img {
    height: 4rem;
    width: 8rem;
    margin: 0 auto;
    padding: 6rem 2rem 5rem 2rem;
}

.product-img2 p {
    font-family: Helvetica;
    font-weight: bold;
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    width: 960px;
    margin: 0 auto;
}

/* ===STORE INFORMATION STYLES=== */


.hours {
    width: 35.5%;
}

.location {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.location h4 {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.location p {
    padding-top: 0.5rem;
    
}

.locheader {
    width: 35.5%;
}

/* ===FOOTER STYLES=== */

footer {
    height: 10rem;
    background-color: black;
}

footer p {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
    width: 960px;
    margin: 0 auto;
    padding-top: 5rem;
}

/* ===RESPONSIVE DESIGN=== */

/* --- Mobile --- */

@media only screen and (max-width : 470px) {
    
    /* logo styles */
    .logo {
        margin: 0 auto;
    }
    
    h1 {
        display: none;
    }
    
    /* featured image styles */
    
    .container, .featured-image-header {
        width: 100%;
    }
    
    .featured-image {
        height: 18rem;
    }
    
    .featured-image-header {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    
    .featured-image-header h2 {
        font-size: 0.77rem;
    }
    
    .featured-image-header h3 {
        font-size: 1.5rem;
    }
    
    
    
    footer p {
        width: 100%;
        text-align: center;
        font-weight: 100;
    }
    
    /* products styles */
    
    
    .middle {
        display: none;
    }
    
    .product-img {
        width: 90%;
        margin: 0 auto;
    }
    
    /* store information styles */
    
    .hours {
        margin-top: 1.5rem;
    }
    
    .location {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .locheader, .hours {
        width: 90%;
    }
}

/* ---Tablet --- */

@media only screen and (min-width : 1024px) {
    
    /* navigation styles */
    .hidden {
        display: none;
    }
}

@media only screen and (max-width : 1024px) {
    
    footer, nav, nav a, .container2, .header-bar, .location, .navigation, .products {
        width: 100%;
    }
    
    nav a, .product-img2 {
        display: none;
    }
    
    /* navigation styles */
    
    .hidden {
        display: block;
        text-align: center;
    }
    
    /* product styles */
    
    .product-img {
        width: 47%;
    }
    
    /* store information styles */
    
     .locheader, .hours {
        width: 35%;
    }
}